body{        
    padding-top: 0px;
    padding-bottom: 0px;
    width: 960px;
    background-color: white;
    height: 900px;
}
.header{
    width: 960px;
    position: fixed;        
    background:white;
    padding: 10px 0;
   height: 110px;
    color: #fff;
    top:0px;
margin-bottom:-2px;
}

.parent{
   display: flex;
   flex-direction: row;
   width: 960px;
   margin-top: 177px;
   background-color: lightgray;
   height:800px;
}
 
 .child1 {
    width: 80%;
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    
 
 }
 .child11{
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 92px;
    margin-bottom: 10px;
 }
 .child12{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    height: 98px;
    margin-bottom: 10px;
 }
 .child22-1{
   color: #fff;
   font-size: 30px;
   padding-top: 10px;
   

 }
 
 .child13{
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 92px;
    margin-bottom: 10px;
 }
 .child14{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    height: 92px;
    margin-bottom: 10px;
 }
 .child15{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 92px;
    margin-bottom: 10px;
 }
 .child16{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    height: 92px;
    margin-bottom: 10px;
 }
 .child17{
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 92px;
    margin-bottom: 10px;
 }

 .child11 > div {
   margin: 10px;
    font-size: 10px;
    margin-inline: auto;  
 }
.child12 > div {
        background-color:lightgray;
        margin: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
    .child13 > div {
        background-color: white;
        margin: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
        .child14 > div {
        background-color:lightgray;
        margin: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
     .child15 > div {
        background-color: white;
        margin: 10px;
        font-size: 10px;
        display: flex;
        margin-inline: auto;
        flex-direction: column;
     }
        .child16 > div {
        background-color: lightgray;
        margin: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
    .child17 > div {
        background-color:white;
        margin: 10px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
    }
    .child111{
        margin-bottom: 20px;
        text-align:center;
        font-size:10px;
        text-justify: auto;
    }
    .child112{
        margin-bottom: 20px;
        float: center;
    }
 .child2 {
    width: 20%;
    height: 100vh;
    margin-right: 0px;
    margin-top: 4px;
 }
 .child21{
    height:292px;
    background-color: rgb(216, 241, 241);
   margin-top: -15px;
    font-size:10px;

 }
 .child22{
    text-align: center;
    height: 146px;
    background-color:rgb(210, 238, 247);
    margin-block-start: -16px;
 }
 .child23{
    background-color: white;
 }
 .child24{
    background-color:grey;
 }
 
 .footer{
   width: 960px;
   position: fixed;        
   background:lightblue;
   padding: 10px 0;
   color: #fff;
   bottom: 0;
   display: flex;
   flex-direction:row;
   height:160px;
   margin-top: 10px;
 
  
}
.footer1{
   padding: 10px;
}
.connect{
   color: black;
   font-size:15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.phone{
   color:rgb(92, 170, 247);
   font-size: 10px;
  
}
.button{
   background-color: royalblue;
   color: #fff;
}
.footer2{
   padding-left: 40px;
   color: rgb(5, 109, 178);
   font-size: 10px;
   margin-top: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer3{
   padding-left: 40px;
   color: rgb(5, 109, 178);
   font-size: 10px;
   margin-top: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer4{
   padding-left: 40px;
   color: rgb(5, 109, 178);
   font-size: 12px;
   margin-top: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}